
<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    <li>@Html.ActionLink("Lista Studenata", "Index", "Students")</li>
    <li>@Html.ActionLink("Lista Predmeta", "Index", "Predmeti")</li>
    <li>@Html.ActionLink("Lista Nastavnika", "Index", "Nastavnici")</li>
</ul>